.markdown-container code {
  background: #333;
  color: white;
  padding: 1px 5px;
  /* border-radius: 0.5em; */
}

.markdown-container a {
  text-decoration: none;
}

.markdown-container a:visited {
  color: blue;
}

.MuiTableCell-head {
  font-weight: 600 !important;
}
